<!DOCTYPE html>
<html>
<head>
	<title>IMAGE TAGGER</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1> IMAGE TAGGER </h1>
		<div>
			<nav>
				<a href="/">Instructions</a>
				<a href="/image">Tag Images</a>
			</nav>
		</div>
	</header>

	<main>
		<%= yield %>
	</main>

</body>
</html>