<img src="<%= @img_url %>" /> 

<br />

<form action="" method="">
	<input type="text" name="keyword" value="" placeholder="Enter word...">
	<br />
	<button>Submit</button>
</form>

<br />
<a href="/images">Skip</a>