<form action="" method="">
	<input type="text" name="keyword" value="" placeholder="Enter word...">
	<br />
	<button>Submit</button>
</form>

<br />
<a href="/image">Skip</a>

<br />

<img src="<%= @image_url %>" /> 
